/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --btn-secondary: hsl(0, 0%, 72%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}

body.dark-theme {
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--title-color);
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader--img {
  width: 100px;
  fill: var(--first-color);
  animation: load 1.5s infinite;
}

.hide {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 40;
}
.nav--items {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--body-color);
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  text-align: center;
}
.nav-display {
  left: 0%;
}
.no-display {
  left: -100%;
}

.cart {
  background-color: rgba(36, 36, 36, 0.801);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
}
.cart-container {
  background-color: var(--body-color);
  width: 400px;
  right: 0;
  height: 100%;
  position: absolute;
}

.contenedor-elements {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
}

.contenedor-elements--h3 {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contenedor-elements--img {
  width: 90%;
}

.contenedor-elements--h2,
.contenedor-elements--p {
  width: 100%;
  text-align: center;
}

.contenedor-elements--containerh4 {
  width: 100%;
  display: flex;
  padding-top: 150px;
  padding-bottom: 30px;
}

.contenedor-elements--h4 {
  width: 50%;
  padding-left: 30px;
}

.contenedor-elements--h4--2 {
  width: 50%;
  text-align: end;
  padding-right: 30px;
}

.contenedor-elements--button {
  width: 45%;
  height: 8%;
  margin-left: 50%;
  border: none;
  color: rgb(94, 94, 94);
}

@keyframes aparecer-elementos-nav {
  0% {
    left: -100%;
  }
  80% {
    left: 5%;
  }
  100% {
    left: 0%;
  }
}

@keyframes desaparecer-elementos-nav {
  0% {
    left: 0%;
  }
  80% {
    left: 5%;
  }
  100% {
    left: -100%;
  }
}

.nav--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price {
  font-weight: bold;
}
.description-item-destacado > p {
  padding-top: 20px;
  padding-bottom: 20px;
}
.price-destacado {
  color: var(--first-color);
}
.btn-destacado-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px;
}
.btn {
  border: none;
}
.btn-secondary {
  padding: 12px 15px;
  background-color: var(--btn-secondary);
  color: var(--button-color);
  font-weight: bold;
}
.btn-primary {
  padding: 15px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: bold;
  box-shadow: 1px 18px 39px -13px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 1px 18px 39px -13px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 18px 39px -13px rgba(0, 0, 0, 0.63);
}
.opciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  z-index: 40;
}
.bx {
  font-size: 1.3rem;
}
.counter {
  background-color: var(--button-color-alt);
  color: var(--container-color);
  padding: 2px 4px;
  border-radius: 0.5rem;
  margin-right: 5px;
  font-size: 14px;
  position: absolute;
  margin-left: -10px;
  margin-top: 7px;
}
.back {
  background-color: var(--first-color);
  width: 70%;
  height: 3.5rem;
  position: fixed;
  top: 0px;
  z-index: -1;
  right: 0;
}
.articulo-section {
  width: 70%;
  display: flex;
  right: 0;
  position: absolute;
  right: 0;
  height: 350px;
  background-color: var(--first-color);
}
.img-articulo-destacado {
  width: 250px;
  padding-top: 125px;
  display: block;
  margin: 0px auto;
}
.description-item-destacado {
  position: absolute;
  margin-top: 380px;
  padding: 0rem 1rem;
}
.nav--logo {
  width: 2.5rem;
  fill: var(--first-color);
}
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 40;
}
.scrolling {
  background-color: var(--container-color);
  box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
}
.no-scrolling {
  background-color: transparent;
}
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 100;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
  padding-top: 40px;
}

.categories h1 {
  font-size: 18px;
}

.categories h2 {
  font-size: 14px;
}

.categories div {
  border-right: black solid 1px;
  margin-bottom: 2rem;
  margin-top: 10rem;
  width: 140px;
  color: var(--text-color-light);
  

}

.categories .div-izq {
  left: 30px;
}

.destacado-container-img {
  background-color: var(--first-color);
  width: 70%;
  float: right;
}
.pin {
  visibility: hidden;
}

.destacado > .datos {
  padding: 0 20px;
}
.datos > h2 {
  padding-top: 15px;
}
.datos > p {
  padding-top: 15px;
  padding-bottom: 20px;
}

.articulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  gap: 40px;
}

.img-card {
  width: 150px;
}
.card-img {
  background-color: var(--card-color);
  border-radius: 0.5rem;
  padding: 20px 40px;
}
.description-card {
  background-color: var(--container-color);
  width: 100%;
  padding: 20px 20px;
}

.card-add-cart {
  width: 50px;
  height: 50px;
  background-color: var(--container-color);
  border-radius: 50%;
  position: absolute;
  margin-top: 170px;
  margin-left: 160px;
  box-shadow: -1px 9px 28px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 9px 28px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 28px -5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.card-add-cart > span {
  position: absolute;
  margin: 15px 19px;
  font-size: large;
  font-weight: bolder;
}

.card {
  position: relative;
  box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 28px -15px rgba(0, 0, 0, 0.75);
}

.footer__social-link img {
  width: 18px;
  height: 18px;
  margin: 5px;
}

.footer-info {
  background-color: hsl(0, 0%, 90%);
  margin-top: 40px;
}

.contenedor-footer {
  display: grid;
  row-gap: 2rem;
  padding: 2rem;
  padding-top: 100px;
}

.contenedor-footer h2 {
  font-size: 22px;
  padding-bottom: 10px;
}

.contenedor-footer h3 {
  font-size: 16px;
  color: gray;
  padding-top: 16px;
}
.marca {
  display: block;

  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: 15px;
  color: grey;
}

.is-empty {
}

.img-into-cart {
  width: 80px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

/* version de tablet */
@media only screen and (min-width: 800px) {
  
  .destacado-container-img{
    width: 35%;
    margin-right: 5%;
    margin-left: 60px;
    height: 493px;
  }
  .destacado>.datos{
    padding: 90px 45px;
  }
  .categories{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .articulos{
    flex-direction: row;
    justify-content: center;
    padding: 40px 20px;
  }

}
@media only screen and (min-width: 1150px) {
  

 .destacado-container-img{
  width: 30%;
  margin-right: 15%;
  margin-left: 60px;
  height: 593px;
}
.img-articulo-destacado{
  width: 350px;
}
.destacado>.datos{
  padding: 120px 10%;
}
.articulos{
 
  justify-content: space-around;

}
.categories{
 
  justify-content: space-evenly;
  
}

}